*{
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: url(windows-xp.jpg) no-repeat center/cover;
  overflow: hidden;
}
footer#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.blocktextexp{
  position: relative;
  width: 600px;
  height: 400px;
  background-color: white;
  border: 2px solid #3890f8;
  border-radius: 2% 2% 2% 2%;
  overflow-y:scroll ;
  


}
.backgroundblue{
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #0050E0, #3890f8 );
  width: 100%;
  border-radius: 2% 2% 0% 0%;
  height:25px;

}
.contenue>p{
  margin-left: 6px;
  font-family: 'Block Note';
  src:url('Block\ Note.ttf');
  color:black;

}
.title{
  margin-left: 6px;
}
.start-btn{
  position: relative;
  top: 35px;
  cursor: pointer;
  
}
#image{
  position: relative;
  top:35px
}


/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  
  display: none;
  position: absolute;
  bottom: 2px;
  background-color: #f1f1f1;
  width: 500px;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

/* Links inside the dropup */
.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {background-color: #ddd}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
}

#cross{
  position: relative;
  width: 25px;
  left:60% ;
  border-radius: 2% 2% 2% 2% ;
  bottom:1px;
}
#cross1{
  position: relative;
  width: 25px;
  left: 79%;
  border-radius: 2% 2% 2% 2% ;
  bottom:1px;
}
.blocktextformation{
  display:none;
  position: relative;
  width: 600px;
  height: 400px;
  background-color: white;
  border: 2px solid #3890f8;
  border-radius: 2% 2% 2% 2%;
  overflow-y: scroll;

}
.blocktextSkills{
  overflow-y: scroll;
  display:none;
  position: relative;
  width: 300px;
  height: 400px;
  background-color: white;
  border: 2px solid #3890f8;
  border-radius: 2% 2% 2% 2%;
  

}
#cross2{
  position: relative;
  width: 25px;
  left: 65%;
  border-radius: 2% 2% 2% 2% ;
  bottom:1px;

}
.blocktextContact{
  display:none;
  position: relative;
  width: 300px;
  height: 400px;
  background-color: white;
  border: 2px solid #3890f8;
  border-radius: 2% 2% 2% 2%;

}
#cross3{
  position: relative;
  width: 25px;
  left: 70%;
  border-radius: 2% 2% 2% 2% ;
  bottom:1px;

}
.fenetre{
  margin: 5px;
}
p #compteur{
  width: 100px;
  display: flex;
  bottom: 0;
  right: 0;
  color: white;
}